#wpn-permission-status[data-status='green'] {
    color: green;
}

#wpn-permission-status[data-status='red'] {
    color: red;
}

#wpn-permission-status[data-status='orange'] {
    color: orange;
}

#wpn-device-list {
    margin: 10px auto 0 auto;
    padding: 0;
}

@media (min-width: 769px) {
    #wpn-device-list {
        max-width: calc(100% - 20px);
    }
}

#wpn-device-list-table {
    margin: 0;
}

#wpn-device-list-table .wpn-device-list-row {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--text-color);
}

@media (min-width: 769px) {
    #wpn-device-list-table .wpn-device-list-row {
        grid-template-columns: 110px auto 250px;
    }
}

#wpn-device-list-table .wpn-device-list-row:nth-child(even) {
    background-color: var(--dynamix-tablesorter-tbody-row-alt-bg-color);
}

#wpn-device-list-table .wpn-device-list-row>.inline-block {
    padding: 0 10px;
}

#wpn-device-list-table .wpn-device-list-row .wpn-device {
    display: flex;
}

#wpn-device-list-table .wpn-device-list-row .wpn-device-name {
    flex: 0 1 300px;
    margin-right: 10px;
}

@media (min-width: 769px) {
    #wpn-device-list-table .wpn-device-list-row select {
        max-width: 166px;
    }
}

@media (max-width: 768px) {
    #wpn-device-list-table .wpn-device-list-row .wpn-actions {
        padding-top: 10px;
    }
    #wpn-device-list-table .wpn-device-list-row .wpn-device-info p:first-child {
        margin-top: 0;
    }

    #wpn-device-list-table .wpn-notification-level-bottom {
        margin-bottom: 0;
    }
}

#wpn-list-btn .hide,
#wpn-advanced-btn .hide,
#wpn-list-btn.active .show,
#wpn-advanced-btn.active .show {
    display: none;
}

#wpn-list-btn.active .hide,
#wpn-advanced-btn.active .hide {
    display: inline-block;
}

#wpn-list-btn>span,
#wpn-advanced-btn>span {
    pointer-events: none;
}

#wpn-error {
    display: none;
}

#wpn-error-text {
    margin-left: 0;
    flex: 1;
    color: #ff0000;
    overflow: auto;
}

div.shade-white {
    background-color: #ededed;
    margin-top: 10px;
    padding: 8px 0 3px 0
}

div.shade-black {
    background-color: #212121;
    margin-top: 10px;
    padding: 8px 0 3px 0
}

div.shade-azure {
    background-color: #edeaef;
    margin-top: 10px;
    padding: 8px 0 3px 0
}

div.shade-gray {
    background-color: #121510;
    margin-top: 10px;
    padding: 8px 0 3px 0
}